{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "31f52b2aedccb435ba74405d51965aae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "travis-api-version",
              "value": "3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.travis-ci.com/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 872,
            "text": "{\n  \"@type\": \"user\",\n  \"@href\": \"/user/738119\",\n  \"@representation\": \"standard\",\n  \"@permissions\": {\n    \"read\": true,\n    \"sync\": true\n  },\n  \"id\": 738119,\n  \"login\": \"eXtremeX\",\n  \"name\": \"Stefan Virag\",\n  \"github_id\": 8009142,\n  \"vcs_id\": \"8009142\",\n  \"vcs_type\": \"GithubUser\",\n  \"avatar_url\": \"https://avatars.githubusercontent.com/u/8009142?v=4\",\n  \"education\": false,\n  \"allow_migration\": false,\n  \"allowance\": {\n    \"@type\": \"allowance\",\n    \"@representation\": \"minimal\",\n    \"id\": 738119\n  },\n  \"ro_mode\": false,\n  \"email\": \"viragsf@gmail.com\",\n  \"is_syncing\": false,\n  \"synced_at\": \"2022-04-16T10:57:01Z\",\n  \"recently_signed_up\": false,\n  \"secure_user_hash\": \"416c02501ebc417a913c01ff2d9f9d89ed1961234b8ebf8ea4d2d48684a8be83\",\n  \"confirmed_at\": \"2021-04-01T08:00:01Z\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-endpoint",
              "value": "Travis::API::V3::Services::User::Current"
            },
            {
              "name": "x-oauth-scopes",
              "value": "public,private"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1018,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
