{
  "log": {
    "_recordingName": "build-user-and-code-repos-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "31f52b2aedccb435ba74405d51965aae",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "travis-api-version",
              "value": "3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.travis-ci.com/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 869,
            "text": "{\n  \"@type\": \"user\",\n  \"@href\": \"/user/738119\",\n  \"@representation\": \"standard\",\n  \"@permissions\": {\n    \"read\": true,\n    \"sync\": true\n  },\n  \"id\": 738119,\n  \"login\": \"eXtremeX\",\n  \"name\": \"Stefan Virag\",\n  \"github_id\": 8009142,\n  \"vcs_id\": \"8009142\",\n  \"vcs_type\": \"GithubUser\",\n  \"avatar_url\": \"https://avatars.githubusercontent.com/u/8009142?v=4\",\n  \"education\": false,\n  \"allow_migration\": false,\n  \"allowance\": {\n    \"@type\": \"allowance\",\n    \"@representation\": \"minimal\",\n    \"id\": 738119\n  },\n  \"ro_mode\": false,\n  \"email\": \"viragsf@gmail.com\",\n  \"is_syncing\": false,\n  \"synced_at\": \"2022-04-16T10:57:01Z\",\n  \"recently_signed_up\": false,\n  \"secure_user_hash\": \"416c02501ebc417a913c01ff2d9f9d89ed1961234b8ebf8ea4d2d48684a8be83\",\n  \"confirmed_at\": \"2021-04-01T08:00:01Z\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-endpoint",
              "value": "Travis::API::V3::Services::User::Current"
            },
            {
              "name": "x-oauth-scopes",
              "value": "public,private"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1057,
      },
      {
        "_id": "a6a04c9c5a95d4f620c9f5b86eeb4357",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "travis-api-version",
              "value": "3"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            }
          ],
          "url": "https://api.travis-ci.com/repos?limit=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1605,
            "text": "{\n  \"@type\": \"repositories\",\n  \"@href\": \"/repos?limit=100\",\n  \"@representation\": \"standard\",\n  \"@pagination\": {\n    \"limit\": 100,\n    \"offset\": 0,\n    \"count\": 3,\n    \"is_first\": true,\n    \"is_last\": true,\n    \"next\": null,\n    \"prev\": null,\n    \"first\": {\n      \"@href\": \"/repos?limit=100\",\n      \"offset\": 0,\n      \"limit\": 100\n    },\n    \"last\": {\n      \"@href\": \"/repos?limit=100\",\n      \"offset\": 0,\n      \"limit\": 100\n    }\n  },\n  \"repositories\": [\n    {\n      \"@type\": \"repository\",\n      \"@href\": \"/repo/13760124\",\n      \"@representation\": \"standard\",\n      \"@permissions\": {\n        \"read\": true,\n        \"activate\": true,\n        \"deactivate\": true,\n        \"migrate\": false,\n        \"star\": true,\n        \"unstar\": true,\n        \"create_cron\": true,\n        \"create_env_var\": true,\n        \"delete_key_pair\": true,\n        \"create_key_pair\": true,\n        \"create_request\": true,\n        \"admin\": false\n      },\n      \"id\": 13760124,\n      \"name\": \"j1-questions\",\n      \"slug\": \"JupiterOne/j1-questions\",\n      \"description\": null,\n      \"github_id\": 255479450,\n      \"vcs_id\": \"255479450\",\n      \"vcs_type\": \"GithubRepository\",\n      \"github_language\": null,\n      \"active\": true,\n      \"private\": false,\n      \"owner\": {\n        \"@type\": \"organization\",\n        \"id\": 640769,\n        \"login\": \"JupiterOne\",\n        \"ro_mode\": false,\n        \"@href\": \"/org/640769\"\n      },\n      \"owner_name\": \"JupiterOne\",\n      \"vcs_name\": \"j1-questions\",\n      \"default_branch\": {\n        \"@type\": \"branch\",\n        \"@href\": \"/repo/13760124/branch/main\",\n        \"@representation\": \"minimal\",\n        \"name\": \"main\"\n      },\n      \"starred\": false,\n      \"managed_by_installation\": true,\n      \"active_on_org\": false,\n      \"migration_status\": null,\n      \"history_migration_status\": null,\n      \"shared\": true,\n      \"config_validation\": true,\n      \"server_type\": \"git\"\n    },\n    {\n      \"@type\": \"repository\",\n      \"@href\": \"/repo/23185158\",\n      \"@representation\": \"standard\",\n      \"@permissions\": {\n        \"read\": true,\n        \"activate\": true,\n        \"deactivate\": true,\n        \"migrate\": false,\n        \"star\": true,\n        \"unstar\": true,\n        \"create_cron\": true,\n        \"create_env_var\": true,\n        \"delete_key_pair\": true,\n        \"create_key_pair\": true,\n        \"create_request\": t[...]
